---
export interface Props {
  post: CollectionEntry<'posts'>
}
import { getCollection, CollectionEntry } from 'astro:content'
import PostLayout from "../../layouts/PostLayout.astro"
import EventSummary from "../../components/EventSummary.astro"
import MembersList from "../../components/MembersList.astro"
import EmbedIntroduceSlide from "../../components/EmbedIntroduceSlide.astro"

export const getStaticPaths = async () => {
  const posts = await getCollection('posts')

  return posts?.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<PostLayout title={`${post.data.title} #${post.data.no}`}>
  <EventSummary frontmatter={post.data} />
  <MembersList
    members={post.data.members}
    guest={post.data.guest}
  />
  <hr />
  <h2>コンテンツ</h2>
  <Content />
  <EmbedIntroduceSlide />
</PostLayout>
