---
import TimelineLayout from "../../layouts/TimelineLayout.astro"
import Timeline from "../../components/Timeline.astro"
import TimelineMobile from "../../components/TimelineMoblie.astro"
import HashiKoLeft from "../../assets/hashiko-left.png"
import HashiKoRight from "../../assets/hashiko-right.png"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

export interface Props {
  lookback: CollectionEntry<"lookback">
}

type Topic = CollectionEntry<"lookback">["data"][number]

export type TopicByMonth = {
  month: string
  topics: Topic[]
  notableTopics: Topic[]
}

const createTopicsByMonth = (topics: Topic[]): TopicByMonth[] => {
  const topicsByMonth: TopicByMonth[] = []
  topics.forEach(topic => {
    const month = topic.date.slice(5, 7)
    const monthIndex = topicsByMonth.findIndex(t => t.month === month)
    // 愚直なコードでごめんね
    if (monthIndex === -1 && topic.isNotable) {
      topicsByMonth.push({ month, notableTopics: [topic], topics: [] })
    }
    if (monthIndex === -1 && !topic.isNotable) {
      topicsByMonth.push({ month, notableTopics: [], topics: [topic] })
    }
    if (monthIndex !== -1 && topic.isNotable) {
      topicsByMonth[monthIndex].notableTopics.push(topic)
    }
    if (monthIndex !== -1 && !topic.isNotable) {
      topicsByMonth[monthIndex].topics.push(topic)
    }
  })
  return topicsByMonth.sort((a, b) => {
    if (a.month > b.month) return 1
    if (a.month < b.month) return -1
    return 0
  })
}

const sortByDate = (topics: TopicByMonth[]): TopicByMonth[] => {
  // 愚直なコードでごめんね
  topics.forEach(topic => {
    topic.topics.sort((a, b) => {
      if (a.date > b.date) return 1
      if (a.date < b.date) return -1
      return 0
    })

    topic.notableTopics.sort((a, b) => {
      if (a.date > b.date) return 1
      if (a.date < b.date) return -1
      return 0
    })
  })
  return topics
}

export const getStaticPaths = async () => {
  const collection = await getCollection("lookback")

  return collection?.map(item => {
    return {
      params: { slug: item.id },
      props: { lookback: item },
    }
  })
}

const { lookback } = Astro.props
const topicsByMonth = createTopicsByMonth(lookback.data)
const topics = sortByDate(topicsByMonth)
---

<TimelineLayout title="Cybozu Frontend Monthly">
  <main class="main">
    <header class="header">
      <div class="header-content">
        <img
          class="header-image header-image-left"
          src={HashiKoLeft.src}
          alt="ハシコウ"
          width={130}
        />
        <h1 class="header-title">
          {lookback.id}
        </h1>
        <img
          class="header-image header-image-right"
          src={HashiKoRight.src}
          alt="ハシコウ"
          width={200}
        />
      </div>
    </header>
    <Timeline topics={topics} />
    <TimelineMobile topics={topics} />
  </main>
</TimelineLayout>

<style lang="scss">
  .main {
    padding: 0 2rem;

    @media screen and (max-width: 420px) {
      padding: 0 0.6rem;
    }
  }
  .header {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    height: 400px;
    border-bottom: 2px solid var(--color-surface-mixed-200);
    margin-bottom: 20px;

    @media screen and (max-width: 850px) {
      height: 160px;
    }
    @media screen and (max-width: 450px) {
      height: 120px;
    }
  }

  .header-content {
    position: relative;
    display: grid;
    place-items: center;
    width: 500px;
    height: 100%;

    @media screen and (max-width: 850px) {
      width: 380px;
    }
    @media screen and (max-width: 450px) {
      width: 300px;
    }
  }

  .header-title {
    font-size: 4rem;
    @media screen and (max-width: 450px) {
      margin: 0;
    }
  }

  .header-image {
    position: absolute;
  }

  .header-image-left {
    left: 0;

    @media screen and (max-width: 850px) {
      width: 80px;
    }
    @media screen and (max-width: 450px) {
      width: 60px;
    }
  }

  .header-image-right {
    right: -20px;

    @media screen and (max-width: 850px) {
      width: 130px;
    }
    @media screen and (max-width: 450px) {
      width: 100px;
      right: -26px;
    }
  }
</style>
